</div>

{{{initialState}}}
<script src="/js/vendor.js?v={{vendorVersion}}"></script>
<script src="/js/client.js?v={{appVersion}}"></script>

{{#if server}}
	<footer class="main-footer">
		<div class="container">
			<!-- Yandex.Metrika informer --> <a href="https://metrika.yandex.ru/stat/?id=6919159&amp;from=informer"
			                                    target="_blank" rel="nofollow"><img
				src="https://informer.yandex.ru/informer/6919159/1_0_FFFFFFFF_FFFFFFFF_0_pageviews"
				style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика"
				title="Яндекс.Метрика: данные за сегодня (просмотры)"/></a> <!-- /Yandex.Metrika informer -->
			<!-- Yandex.Metrika counter -->
			<script type="text/javascript"> (function (d, w, c) {
				(w[c] = w[c] || []).push(function () {
					try {
						w.yaCounter6919159 = new Ya.Metrika({
							id: 6919159,
							clickmap: true,
							trackLinks: true,
							accurateTrackBounce: true,
							webvisor: true,
							trackHash: true
						});
					} catch (e) {
					}
				});
				var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () {
					n.parentNode.insertBefore(s, n);
				};
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";
				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else {
					f();
				}
			})(document, window, "yandex_metrika_callbacks"); </script>
			<noscript>
				<div><img src="https://mc.yandex.ru/watch/6919159" style="position:absolute; left:-9999px;" alt=""/>
				</div>
			</noscript> <!-- /Yandex.Metrika counter -->
		</div>
	</footer>
{{/if}}
</body>
</html>