body
	background #070a0e;

	.main-head
		padding 25px
		position relative
		padding-left 70px
		text-align center

		h1
			font-size 25px
			padding 5px 0 5px

			& > a
				color #000
				text-decoration none

		.description
			color: dimgray

		&:before
			content ''
			background-image url("../webroot/logo.png")
			background-repeat no-repeat
			width 58px
			height 61px
			background-size 100%
			display inline-block

	.aside-menu
		.desktop-menu
			& > a
				display block
				color #34aada
				padding 0 10px
				text-decoration none
				font-size 16px
				font-weight 400
				margin-bottom 15px

		.lang-selection
			margin-bottom 20px

			& > a
				padding 0 20px
				color #34aada
				padding 0 10px
				text-decoration none
				display inline-block

	.main-menu
		display flex
		background-color #2f3044

		.mobile-menu
			display flex
			justify-content flex-start
			align-items center
			height 40px

			& > a
				display block
				color $yellow-color
				padding 0 10px
				text-decoration none

		.grow
			flex-grow 2

	.page-content
		padding 15px
		box-sizing border-box

		h1
			font-size 23px
			margin 30px 0
			color #34aada

			&:first-child
				margin-top 0

			&.danger
				color #dd4f52

		h2
			font-size 20px
			margin 10px 0
			color #f8a933
			padding-left 15px

		h3
			font-size 18px
			margin 10px 0
			color #f8a933

	.list-item
		margin: 15px 0;
		padding: 10px 15px;
		border-left: 6px solid #0ba0dd;
		display: block;
		background: #565656;
		color: #fff;
		line-height 22px

		.inner-highlight
			font-style italic
			background-color rgba(#fff, 0.7)
			color #000
			padding 0 5px

		a
			color #34aada
			text-decoration none

		&.light
			background: none;
			color #000
			font-weight 400

		&.danger
			border-left: 6px solid #dd4f52;

	.main-footer
		text-align center

		.container
			padding-top 10px
			padding-bottom 10px

	.main-content-section
		.container
			display: flex

			> div
				.aside-menu
					border-radius 5px
					background-color #fff
					box-sizing border-box
					padding 15px
					font-size 14px
					font-weight 400

					> a
						color #34aada
						text-decoration none

				&:first-child
					box-sizing border-box
					padding 15px
					width 250px

				&:last-child
					width calc(100% - 250px)




