body
	background #070a0e;

	.main-head
		margin-bottom 25px
		position relative
		padding-left 70px

		h1
			font-size 25px
			padding 25px 0 5px

			& > a
				color #000
				text-decoration none

		.description
			color: dimgray

		&:before
			content ''
			position absolute
			background-image url("../webroot/logo.png")
			background-repeat no-repeat
			width 60px
			height 53px
			background-size 100%
			left 0
			top 20px

	.main-menu
		display flex
		background-color #2f3044

		.mobile-menu
			display flex
			justify-content flex-start
			align-items center
			height 40px

			& > a
				display block
				color $yellow-color
				padding 0 10px
				text-decoration none

		.grow
			flex-grow 2

		.desktop-menu
			display flex
			justify-content flex-start
			align-items center
			height 40px

			& > a
				display block
				color #fff
				padding 0 10px
				text-decoration none

			&.lang-selection
				border-left 1px solid #ddd

				& > a
					padding 0 20px


	.page-content
		padding 15px
		box-sizing border-box

		h1
			font-size 23px
			margin 30px 0
			color #34aada

		h2
			font-size 20px
			margin 10px 0
			color #f8a933
			padding-left 15px

		h3
			font-size 18px
			margin 10px 0
			color #f8a933

	.list-item
		margin: 15px 0;
		padding: 10px 15px;
		border-left: 6px solid #0ba0dd;
		display: block;
		background: #565656;
		color: #fff;
		line-height 22px

		.inner-highlight
			font-style italic
			background-color rgba(#fff, 0.7)
			color #000
			padding 0 5px

		a
			color #34aada
			text-decoration none

	.main-footer
		text-align center

		.container
			padding-top 10px
			padding-bottom 10px




