$main-head-height = 95px
$main-head-height-750 = 60px
$main-menu-height = 60px
$title-text-color = #a5a5a5

$content1000 = 1000px
$content930 = 930px
$content850 = 850px
$content750 = 750px

body
	background #070a0e;

	.main-head
		margin-bottom 25px

		h1
			font-size 25px
			padding 25px 0 5px

		.description
			color: dimgray


	.main-menu
		display flex
		background-color #2f3044

		.mobile-menu
			display flex
			justify-content flex-start
			align-items center
			height 40px

			& > a
				display block
				color $yellow-color
				padding 0 10px
				text-decoration none

		.desktop-menu
			display flex
			justify-content flex-start
			align-items center
			height 40px

			& > a
				display block
				color #fff
				padding 0 10px
				text-decoration none

	.page-content
		padding 15px
		box-sizing border-box

		h1
			font-size 23px
			margin 10px 0
			color #34aada

		h2
			font-size 20px
			margin 10px 0
			color #f8a933
			padding-left 15px


	.list-item
		margin: 15px 0;
		padding: 10px 15px;
		border-left: 6px solid #0ba0dd;
		display: block;
		background: #565656;
		color: #fff;
		line-height 22px

		.inner-highlight
			font-style italic
			background-color rgba(#fff, 0.7)
			color #000
			padding 0 5px

		a
			color #34aada
			text-decoration none




