$text-color = #fff
$font-family = -apple-system, Proxima Nova, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif
$yellow-color = #ffc000;
$yellow-color-light = #fff600;
$footer-color = #353535

$addresses-height-default = 250px
$map-section-height-default = 560px