$main-head-height = 70px

$main-head-height-750 = 60px
$main-menu-height = 60px
$main-text-color = #404040
$main-blue-color = #2a497c
$main-red-color = #b94343
$main-liter-gray-color = #f9f9f9
$title-text-color = #a5a5a5

$content1000 = 1000px
$content930 = 930px
$content850 = 850px
$content750 = 750px

$text-color = $main-text-color
$font-family = -apple-system, Open Sans, Helvetica Neue, sans-serif
$yellow-color = #ffc000;
$yellow-color-light = #fff600;
$footer-color = #353535
